<div class = "container" style="margin-bottom:425px">
	<div class = "row">

		<!--                Remember, there's 12 possible grid boxes to be divided amongst your grid items.	-->
		<div class = "col-md-2">
			<div class="bs-callout bs-callout-info" style="width:400px;">
				<h4>Course Stats</h4>
				<ul>
					<li>
						Load seat stats for a CRN of your choice without having to log in to BuzzPort.
					</li>
					<li>
						This feature is mainly useful when your interested in the wait-list, or your waiting for an overloaded class to free up.
					</li>
					<li>
						Enjoy the animated chart.
					</li>
				</ul>
			</div>			

			<div class="form-group">
				<input type="text" style="width:auto;" class="form-control" id="stats_crn" placeholder="CRN">

				<select id="stats_term" style="width:auto;" class="form-control selectpicker">
					{{#if fallLabel}}
					<option value="{{fall}}">{{fallLabel}}</option>
					{{/if}}
					{{#if springLabel}}
					<option value="{{spring}}">{{springLabel}}</option>
					{{/if}}
					{{#if summerLabel}}
					<option value="{{summer}}">{{summerLabel}}</option>
					{{/if}}
				</select>
			</div>

			<div>
				<input id="get_stats_btn" class="btn btn-info" type="button" value="Get Stats" />
				<div id="classStatsSpinner"></div>
			</div>

			<div>
				<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
				<!-- Class State mini-ad -->
				<ins class="adsbygoogle"
				     style="display:inline-block;width:320px;height:100px"
				     data-ad-client="ca-pub-5006930321157769"
				     data-ad-slot="6502934735"></ins>
				<script>
				(adsbygoogle = window.adsbygoogle || []).push({});
				</script>
			</div>

		</div>

		<br>

		<div class = "col-md-7 col-md-offset-3" >

			<div class="upperRight" style="position:absolute;top:0px;">

				<div id="class_stats_div">

					<table class="table" style="width:500px">
						<tr>
							<th></th>
							<th>Seat Stats</th>
							<th>Waitlist Stats</th>
						</tr>

						<tr>
							<td>Remaining</td>
							<td>-</td>
							<td>-</td> 
						</tr>

						<tr>
							<td>Filled</td>				
							<td>-</td>
							<td>-</td> 
						</tr>
					</table>

				</div>

				<div id="pieChart" style="position:absolute;left:5%;"></div>

			</div>
		</div>

	</div>
</div>