<div class="bs-callout bs-callout-info" style="width:500px;">
	<h4>Live Chat</h4>
	Anyone on this page right now can see what you're saying; no history saved.
</div>

<div id="content" style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;'> </div>

<div class="input-append">
<!-- style="width:350px;" -->
	<input id="name" class="form-control" type="text" placeholder="Name" style="width:350px;">
	<input id="field" class="form-control" type="text" placeholder="Message" style="width:350px;">
	<input id="send" type="button" class="btn" value="Send">
</div>