<h1>About Me</h1>
Hey y'all, im a rising junior at gt.<br />
This is my first project in node, and im super impressed with how powerful this lightweight platform is.<br />
The asynchronous nature of javascript callbacks was the only quirk that I had to get used to. When writing server sided code, this was actually kind of a pain in the ass initially, but I'm starting to grow more fond of it as I understand it better. All in all, i <3 node! <br />
Bug reports/feedback are welcome. Shoot me an email at floatingpoint1233@outlook.com
