<div class = "container">

        <div class = "jumbotron">
            <h1>About</h1>
            <p>I'm a student at Georgia Tech, and this is a hobby-project of mine.</p>

            <p>This project exposed me to the flexibility and efficiency of JavaScript. <br>I started out confused by the quirks and oddities of js, but now it's my favorite language. <br><br> Here are some of the technologies incorporated: </p>

            <p>
                <ul>
                	<li>Node.js</li>
                	<li>MongoDB</li>
                	<li>PhantomJS</li>
                	<li>d3.js</li>
                	<li>socket.io</li>
                </ul>
            </p>

            <p>Feedback is welcome through the contact button up top.<br> Scroll down for a technical overview of this project.</p>
        </div>

</div>

<div class = "container">
        <div class = "row">
               
<!--                Remember, there's 12 possible grid boxes to be divided amongst your grid items.
-->
            <div class = "col-md-3">
                <h3><a href = "#">Course Watch</a></h3>
                <p>The core of the course watching system is a web scraping poller in Node.js that checks OSCAR for available seats every two minutes or so using setInterval. The system also automatically updates itself for new terms based on the date by using setInterval. Course watch requests are persisted using MongoDB.</p>                   
            </div>

            <div class = "col-md-3">
                <h3><a href = "#">Automated Registration</a></h3>
                <p>This feature would not be possible without <a href="http://phantomjs.org/">PhantomJS</a>, which is a really cool and powerful tool. Basically, using the information a user provides, we can log in and register them for a course with Phantom running as a child process of Node.js on the server.</p>                   
            </div>

            <div class = "col-md-3">
                <h3><a href = "#">Course Stats</a></h3>
                <p>A request to the server is made to scrape oscar for course information, which is then displayed in an animated pie chart made with Mike Bostock's fantastic <a href="http://d3js.org/">d3.js</a> data visualization library.</p>
            </div>

            <div class = "col-md-3">
                <h3><a href = "#">Live Chat</a></h3>
                <p>Since I decided to experiment with WebSockets and <a href="http://socket.io/">socket.io</a> when I started this project, adding live chat was quite simple. WebSockets are the supposed to be the future, and I can totally believe it.</p>
            </div>


         </div>
</div>