<div class="container" style="width:75%;">

	<h1>Change Password</h1>

	<form id="change_pass_form" action="/change_forgotten_password" method="POST">
		<label for="password">New Password </label>
		<input type="password" class="form-control" name="password" id="password">

		<label for="password_conf">Confirm Password </label>
		<input type="password" class="form-control" name="password_conf" id="password_conf">

		<input type="text" id="email" name="email" style="display:none;">

		<input id= "change_pass" type="submit" class="btn btn-primary" value="Change Password">
	</form>
</div>

<script>
	$('#email').val("{{email}}");
</script>