<!-- <link href="/css/generic.css" rel="stylesheet"> -->

<div id = "email_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Invalid email
</div>

<div id = "crn_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Invalid crn
</div>

<div id = "phone_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Invalid phone number
</div>	

<div id = "duplicate_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Duplicate request, please do not flood the database
</div>	

<div id = "success_alert" class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Request submitted to server! You'll be emailed when a spot is open.
</div>

<div id = "wait_alert" class="alert alert-warning">
  Please wait the following number of seconds to make your next request: 
</div>



<div>
	<h1><a href="http://www.gtcoursewatch.us">gtcoursewatch.us</a></h1>

<!-- Nav tabs -->
	<ul class="nav nav-tabs" id="myTab">
	  <li class="active"><a href="#home" data-toggle="tab">Request Form</a></li>
	  <li><a href="#auto_reg" data-toggle="tab">Auto-Registration</a></li>
	  <li><a href="#class_stats" data-toggle="tab">Course Stats</a></li>
	  <li><a href="#live_chat" data-toggle="tab">Live Chat Room</a></li>
	</ul>

	<div class="tab-content">
	  	<div class="tab-pane fade in active" id="home">

  			<h2 id="lastRequested"> </h2>

			<h4 id="otherWatchers"></h4>

			<div>
				<h6>
				This site will automatically update and be ready when a new term comes around.<br>
				After you make a request, the server will poll for its status every 2 mins. <br>
				You will be e-mailed and/or texted as soon as the server realizes a seat is open.<br>
				*Note - sms functionality has been spotty sometimes <br>

				</h6>
			</div>

			<form style="padding-left:1px">
			<!-- 			<label for="inputEmail">Email </label>
			-->			
				<input type="text" class="form-control" id="inputEmail" placeholder="Whats your email?">

			<!-- 			<label for="inputCRN">CRN </label>
			-->			
				</br>
				<input type="text" class="form-control" id="inputCRN" placeholder="Whats the CRN?">

				<label for="selectTerm">Term:</label>
				<select id="selectTerm" class="form-control">
					{{#if fall}}
						<option value="{{fall}}">{{fallLabel}}</option>
					{{/if}}
					{{#if spring}}
						<option value="{{spring}}">{{springLabel}}</option>
					{{/if}}
					{{#if summer}}
						<option value="{{summer}}">{{summerLabel}}</option>
					{{/if}}
				</select>

				<div>

					<form class="form-control" id="phoneSupportForm">
						<p> Do you want to be texted? </p>
						<div>
						<label for="phoneSupportYes" class="radio inline control-label">
						<input type="radio" id="phoneSupportYes" name="phoneSupport" value="yes"/>
						Yes</label>

						<label for="phoneSupportNo" class="radio inline control-label">
						<input type="radio" id="phoneSupportNo" name="phoneSupport" value="no"/>
						No</label>
						</div>
					</form>

				</div>

				<div id="sms_stuff" style="display: none;">
					<label for="serviceProvider">Choose Your Service Provider:</label>
					<select id="serviceProvider" class="form-control">
					  <option value="att">AT&T</option>
					  <option value="verizon">Verizon</option>
					  <option value="sprint">Sprint</option>
					  <option value="tmobile">T-Mobile</option>
					  <option value="virginmobile">Virgin Mobile</option>		  
					  <option value="metropcs">Metro PCS</option>
					  <option value="alltel">Alltel</option>
					  <option value="boost">Boost Mobile</option>
					</select>

		<!-- 			<label for="inputPhoneNum">Phone Number</label>
		 -->			
					
					</br>
					<input type="text" class="form-control" id="inputPhoneNum" placeholder="Whats your number?"/>		
				</div>
			</form>


			<div>
				<button id= "send_request" class="btn btn-primary">Request</button>
				<button id="makeAnother" class="btn btn-info">Make Another</button>
			</div> <!--form center -->
			

		</div>

		<div class="tab-pane fade" id="class_stats">
			<div>
				<h6>
					Load seat stats for a CRN of your choice. Enjoy the animated chart.
				</h6>
			</div>			

			<input type="text" id="stats_crn" placeholder="CRN?">
			<br/>

			<select id="stats_term">
				{{#if fall}}
					<option value="{{fall}}">{{fallLabel}}</option>
				{{/if}}
				{{#if spring}}
					<option value="{{spring}}">{{springLabel}}</option>
				{{/if}}
				{{#if summer}}
					<option value="{{summer}}">{{summerLabel}}</option>
				{{/if}}
			</select>
			<br/>

			<input id="get_stats_btn" class="btn" type="button" value="Get Stats" onClick="getStats();" />
			<br/>
			<br/>

			<div id="class_stats_div">

				<table class="table" style="width:300px">
					<tr>
						<th></th>
						<th>Seat Stats</th>
						<th>Waitlist Stats</th>
					</tr>

					<tr>
						<td>Remaining</td>
						<td>-</td>
						<td>-</td> 
					</tr>

					<tr>
						<td>Actual</td>				
						<td>-</td>
						<td>-</td> 
					</tr>
				</table>

			</div>

			<div id="pieChart"></div>

		</div>


		<div class="tab-pane fade" id="auto_reg">
			<h6>First verify your BuzzPort credentials, then input your course information and hit auto-register.<br>
			When a seat is free, the automated system will login to BuzzPort and register for you. <br>
			You'll be e-mailed upon successful registration.
			</h6>


<!-- 			<a href="#buzz_verify_modal" data-toggle="modal" class="btn btn-primary">Verify BuzzPort Credentials</a> -->

			<input type="text" id="buzzport_id" placeholder="Buzzport Username"> </input>
			</br>
			<input type="password" id="buzzport_pass" placeholder="Buzzport Password"> </input>
			<br>
			<input type="button" id="buzz_verify_sub" class="btn" value="Verify BuzzPort"></input>

			<br>
			<br>

			<div id="auto-reg-classinfo" style="display:none">
				<input id="buzzport_crn" type="text" placeholder="CRN"> </input>
				<br>
				<select id="buzzport_term" class="form-control">
					{{#if fall}}
						<option value="{{fall}}">{{fallLabel}}</option>
					{{/if}}
					{{#if spring}}
						<option value="{{spring}}">{{springLabel}}</option>
					{{/if}}
					{{#if summer}}
						<option value="{{summer}}">{{summerLabel}}</option>
					{{/if}}
				</select>

				<br>

				<input type="button" id="buzz_register" class="btn" value="Auto-Register"></input>
			</div>
		</div>


		<div class="tab-pane fade" id="live_chat">

			<h6>Anyone on this page right now can see what you're saying, and no history saved.</h6>

			<div id="content" style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;'> </div>

			<div class="input-append">
			<!-- style="width:350px;" -->
				<input id="name" type="text" placeholder="Name" style="width:350px;"> </input>
				<br>
				<input id="field" type="text" placeholder="Message" style="width:350px;"> </input>
				<input id="send" type="button" class="btn" value="Send"></input>			
			</div>

		</div>

	</div>

	<div class="modal fade" id="buzz_verify_modal" role="dialog"> 
		<div class="modal-dialog"> 
			<div class="modal-content">
				<div class="modal-header">
					<h4> Verify Your BuzzPort Credentials </h4>
				</div>
				<div class="modal-body">

				</div>
				<div class="modal-footer">
					<a class="btn btn-danger" data-dismiss="modal">Close</a>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade loading-bar-modal" id="verify-buzz-progress" role="dialog"> 
		<div class="modal-dialog"> 
			<div class="modal-content">
				<div class="modal-header">
					<h4>Verifying BuzzPort Credentials</h4>
				</div>
				<div class="modal-body">

					<div class="progress progress-striped active">
					  <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
					    <span class="sr-only">100% Complete</span>
					  </div>
					</div>

					Servicing https://buzzport.gatech.edu/...
				</div>
				<div class="modal-footer">
				</div>
			</div>
		</div>
	</div>


</div>

<!-- <div style="position:absolute;bottom:0;right:0;">
	<a href="http://www.FreeDomain.co.nr">
		<img src="http://www.freedomain.co.nr/images/bars/anima.gif" width="88" height="31" border="0" alt="Link to Us : Help with CO.NR development">
	</a>
</div> -->
