<h1>Make a Course Watch Request</h1>


<!-- {{#each entries}}
<p>
<a href="/article/{{id}}">{{title}}</a><br/>
Published: {{published}}
</p>
{{/each}}
 -->

<div id = "email_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Invalid email
</div>

<div id = "crn_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Invalid crn
</div>

<div id = "phone_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Invalid phone number
</div>	

<div id = "duplicate_alert" class="alert alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Duplicate request, please do not flood the database
</div>	

<div id = "success_alert" class="alert alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  Request submitted to server! You'll be emailed when a spot is open.
</div>

<form>
	<label for="inputEmail">Email </label>
	<input type="text" class="form-control" id="inputEmail" placeholder="Whats your email?">

	<label for="inputCRN">CRN </label>
	<input type="text" class="form-control" id="inputCRN" placeholder="Whats the CRN?">

	<form class="form-control" id="phoneSupportForm">
		<p> Do you want to be texted? </p>
		<div>
		<label for="phoneSupportYes" class="radio inline control-label">
		<input type="radio" id="phoneSupportYes" name="phoneSupport" value="yes"/>
		Yes</label>

		<label for="phoneSupportNo" class="radio inline control-label">
		<input type="radio" id="phoneSupportNo" name="phoneSupport" value="no"/>
		No</label>
		</div>
	</form>

	<div id="sms_stuff" style="display: none;">
		<label for="serviceProvider">Service Provider</label>
		<select id="serviceProvider" class="form-control">
		  <option value="att">AT&T</option>
		  <option value="verizon">Verizon</option>
		  <option value="sprint">Sprint</option>
		  <option value="tmobile">T-Mobile</option>
		  <option value="virginmobile">Virgin Mobile</option>		  
		  <option value="metropcs">Metro PCS</option>
		  <option value="alltel">Alltel</option>
		  <option value="boost">Boost Mobile</option>
		</select>

		<label for="inputPhoneNum">Phone Number</label>
		<input type="text" class="form-control" id="inputPhoneNum" placeholder="Whats your number?">		
	</div>


</form>

<button id= "send_request" class="btn btn-primary">Request</button>