<!-- <link href="/css/generic.css" rel="stylesheet"> -->

<div>
	<h1 style="position:relative;">
		<a href="http://www.gtcoursewatch.us">gtcoursewatch.us</a>
         <img src="/ilovegt.png" alt="I <3 GT" height="40px" width="40px" style="position:absolute;margin-top:5px;right:0px;">
	</h1>
    

<!-- Nav tabs -->
	<ul class="nav nav-tabs red">
	  <li class="active"><a href="#home" data-toggle="tab">Course Watch</a></li>
	  <li><a href="#auto_reg" data-toggle="tab">Automated Registration</a></li>
	  <li><a href="#class_stats" data-toggle="tab">Course Stats</a></li>
	  <li><a href="#live_chat" data-toggle="tab">Live Chat Room</a></li>
	</ul>

	<div class="tab-content">
	  	<div class="tab-pane fade in active" id="home" style="position:relative;">
			{{> course_watch}}			
		</div>

		<div class="tab-pane fade" style="position:relative;" id="class_stats">
			{{> class_stats}}
		</div>

		<div class="tab-pane fade" id="auto_reg">
			{{> automated_registration}}
		</div>

		<div class="tab-pane fade" id="live_chat">
			{{> live_chat}}
		</div>
	</div>


</div>