
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="My side-project website to help with registration.">
    <meta name="author" content="null">

    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/css/styles.css" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.min.js"></script>
    <script src="/js/generic.js"></script>
    <script src="/js/spin.min.js"></script>
  
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-51268359-1', 'gtcoursewatch.us');
      ga('send', 'pageview');
    </script>
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">

          <a  href='/'class="navbar-brand">
            Course Watch
          </a>

          <img src="/eye-logo.png" alt="Buzz Logo" height="27x" width="55px" style="position:absolute;margin-top:10px;margin-left:-5px;">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navCollapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-collapse collapse navCollapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="#contact_modal" data-toggle="modal">Contact</a></li>

              {{#if username}}
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b> </a>

                <ul class="dropdown-menu">
                  <li><a href = "/my_requests">My Requests</a></li>
                  <li><a href = "/my_account">Settings</a></li>
                  <li><a href = "/logout">Log Out</a></li>
                </ul>
              </li>
              {{else}}
                <li><a href="/log_in">Login</a></li>
              {{/if}}

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Quick Links <b class="caret"></b> </a>

                <ul class="dropdown-menu">
                  <li><a href = "https://buzzport.gatech.edu/cp/home/displaylogin" target="_blank">BuzzPort</a></li>
                  <li><a href = "https://gatech.courseoff.com" target="_blank">gt courseoff</a></li>
                  <li><a href = "http://maps.gatech.edu/d7/drupal/map" target="_blank">gt campus map</a></li>
                  <li><a href = "http://www.reddit.com/r/gatech/" target="_blank">gt reddit</a></li>
                  <li><a href = "http://www.ramblinwreck.com/" target="_blank">ramblin wreck</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
    </div>

    <div class="container">
      <div id = "contact_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        You didn't fully fill out the contact form.
      </div>

      <div id = "email_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Invalid Email
      </div>
      <!-- <link href="/css/generic.css" rel="stylesheet"> -->

      <div id = "buzzport_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Invalid BuzzPort Credentials
      </div>

      <div id = "crn_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Invalid CRN
      </div>

      <div id = "phone_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Invalid Phone Number
      </div>  

      <div id = "duplicate_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Duplicate request, please do not flood the database
      </div>  

      <div id = "verify_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Verify the required fields before proceeding
      </div>  

      <div id = "success_alert" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Request submitted to server! You'll be emailed when a spot is open
      </div>

      <div id = "wait_alert" class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>     
        You need to wait the following number of second to do that: 
      </div>

      <div id = "username_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>  
        Email can't be blank
      </div>

      <div id = "pass_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Password can't be blank
      </div>

      <div id = "invalid_alert" class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Invalid password/email combination
      </div>

      <div id = "link_sent_alert" class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        Link request sent successfully.
      </div>

      {{#if success_flash}}
        <div id = "success_flash_alert" class="alert alert-success flash_alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{success_flash}}
        </div>
      {{/if}}

      {{#if danger_flash}}
        <div id = "danger_flash_alert" class="alert alert-danger flash_alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{danger_flash}}
        </div>
      {{/if}}

      {{#if warning_flash}}
        <div id = "warning_flash_alert" class="alert alert-warning flash_alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{warning_flash}}
        </div>
      {{/if}}      

    	{{{body}}}

    </div> <!-- /container -->

<!--     <div class = "navbar navbar-inverse navbar-fixed-bottom">
            <div class = "container">
              <p class = "navbar-text pull-left"> <i>GTCourseWatch | Registration Assistant</i> </p>
            </div>
    </div> -->

    <div class="modal fade" id="contact_modal" role="dialog"> 
      <div class="modal-dialog"> 
        <div class="modal-content">
          <div class="modal-header">
            <h4>Contact Me</h4>
          </div>
          <div class="modal-body">
            <div class = "form-group">
     
                <label for = "contact-name" class = "col-lg-2 control-label">Name:</label>
                <div class = "col-lg-10">
                    <input type = "text" class = "form-control" id = "contact-name" placeholder = "Full Name">
                </div>
               
            </div>
           
            <div class = "form-group">
               
                <label for = "contact-email" class = "col-lg-2 control-label">Email:</label>
                <div class = "col-lg-10">
                    <input type = "email" class = "form-control" id = "contact-email" placeholder = "you@example.com">
                </div>
               
            </div>
           
            <div class = "form-group">
               
                <label for = "contact-msg" class = "col-lg-2 control-label">Message:</label>
                <div class = "col-lg-10">
                    <textarea class = "form-control" rows = "8" id='contact-msg'></textarea>
                </div>
               
            </div>
          </div>
          <div class="modal-footer">
            <a class="btn btn-danger" data-dismiss="modal">Close</a>
            <button id="contact-sub" style="margin-right:15px;" class = "btn btn-primary" type = "submit" data-dismiss="modal">Send</button>
          </div>
        </div>
      </div>
    </div>

  </body>

</html>
