<div id = "username_alert" class="alert alert-danger">
  Email can't be balnk
</div>

<div id = "pass_alert" class="alert alert-danger">
  Password can't be blank
</div>

<div id = "invalid_alert" class="alert alert-danger">
  Invalid password/email combination
</div>

<div id = "wait_alert" class="alert alert-warning">
  You need to wait the following number of second to do that: 
</div>

<div class="container" style="width:75%;">

	<form id="loginForm" name="loginForm">
		<h1>Please Login</h1>

		<label for="email">Email </label>
		<input type="text" class="form-control" name="email" id="email">

		<label for="password">Password </label>
		<input type="password" class="form-control" name="password" id="password">

		<br>

		<div>
			<input id= "login" type="submit" class="btn btn-primary" value="Login">
			<span style="margin-left:15px;">
				Don't have an account? <a href="/sign_up">Sign up </a>
			</span>
		</div>
	</form>

</div>