<div class="container" style="width:75%;">

	<form id="sign_up_form" action="/create_account" method="POST">

		<div class="bs-callout bs-callout-info" style="padding:1px 10px;">
			<h1>Sign Up</h1>

			<ul style="padding-bottom:-15px;">
				<li>Your password must be at least six character in length.</li>
				<li>You must provide a valid e-mail address, as you will be required to click a verification link.</li>
				<li>If you don't see the verification e-mail in your inbox, check your spam folder.</li>
				<li>If no e-mail comes after a couple of minutes, just sign up again with the same email address to have a new link sent to you.</li>
			</ul>
		</div>



		<label for="email">Email </label>
		<input type="text" class="form-control" name="email" id="email">

		<label for="password">Password </label>
		<input type="password" class="form-control" name="password" id="password">

		<label for="password_conf">Confirm Password </label>
		<input type="password" class="form-control" name="password_conf" id="password_conf">

		<br>

		<div>
			<input id= "sign_up" type="submit" class="btn btn-primary" value="Sign Up">
		</div>
	</form>

</div>