body {
  	padding-top: 60px;  /*60px to make the container go all the way to the bottom of the topbar */
	margin-bottom: 80px;
}

input {
	margin-top: 5px;
}

select{
	margin-top: 5px;	
}

path.slice{
  stroke-width:2px;
}

polyline{
  opacity: .3;
  stroke: black;
  stroke-width: 2px;
  fill: none;
}

/**Navbar Color Stuff **/

/*Periwinkle theme*/

/*.navbar-inverse {
	background-color: #a7b1ee;
	border-color: #507bbf;
}
.navbar-inverse .navbar-brand {
	color: #514c59;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
	color: #fcfffa;
}
.navbar-inverse .navbar-text {
	color: #514c59;
}
.navbar-inverse .navbar-nav > li > a {
	color: #514c59;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
	color: #fcfffa;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	color: #fcfffa;
	background-color: #507bbf;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
	color: #fcfffa;
	background-color: #507bbf;
}
.navbar-inverse .navbar-toggle {
	border-color: #507bbf;
}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background-color: #507bbf;
}
.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #514c59;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: #514c59;
}
.navbar-inverse .navbar-link {
	color: #514c59;
}
.navbar-inverse .navbar-link:hover {
	color: #fcfffa;
}

@media (max-width: 767px) {
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
		color: #514c59;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fcfffa;
	}
	.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fcfffa;
		background-color: #507bbf;
	}
}
*/

.navbar-default {
	background-color: #e2e3a4;
	border-color: #bfac7f;
}
.navbar-default .navbar-brand {
	color: #2e3030;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
	color: #f6f0fe;
}
.navbar-default .navbar-text {
	color: #2e3030;
}
.navbar-default .navbar-nav > li > a {
	color: #2e3030;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #f6f0fe;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #f6f0fe;
	background-color: #bfac7f;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: #f6f0fe;
	background-color: #bfac7f;
}
.navbar-default .navbar-toggle {
	border-color: #bfac7f;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #bfac7f;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #2e3030;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-color: #2e3030;
}
.navbar-default .navbar-link {
	color: #2e3030;
}
.navbar-default .navbar-link:hover {
	color: #f6f0fe;
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #2e3030;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #f6f0fe;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #f6f0fe;
		background-color: #bfac7f;
	}
}